html, body {
    margin: 10px 30px;
    background-color: #ddd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    margin-top: 40px;
}

.tabla-contenedor{
    display: flex;
    justify-content: center;
}

.tabla, td, th{
    vertical-align: baseline;
    border: 1px solid grey;
    padding: 5px 10px;
}

.contenido{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-logo{
    width: 350px;
}

.botones{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.botones button{
    margin: 0px 10px;
}